/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color, #FF0070);
  color: var(--main-font-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:has(:focus-visible) {
  outline: 1px solid var(--main-font-color, #F1B2CE);
  outline-offset: 1px;
}

.header {
  margin-block-start: 20px;
  margin-block-end: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  display: grid;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

.decorated-zone {
  position: relative;
}

 .rec {
  display: block;
  content: "";
  color: var(--accent-color, #FF0070);
  text-align: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 25px; 
  position: absolute;
  margin-inline-start: 89.7vw;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #FF0070));
  margin-inline-start: 10px;
}

.decoration-border-top {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color, #FF0070);
  border-right: 1px solid var(--accent-color, #FF0070);
  display: grid;
  justify-self: end;
  grid-column-start: 4;
}

.decoration-border-bottom {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color, #FF0070);
  border-left: 1px solid var(--accent-color, #FF0070);
  display: grid;
  align-self: end;
  grid-column-start: 1;
  margin-block-start: 89px;
}

.header__theme-menu-list {
  display: inline-flex;
}

.header__theme-menu-item {
  margin-left: 5px;
  margin-right: 5px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  color: var(--accent-color, #FF0070);
  text-align: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  background-color: transparent;
  border: transparent;
}

.header__theme-menu-button:hover {
  width: 70px;
  height: 26px;
  border: 1px solid var(--border-button-hover);
  color: var(--accent-color, #FF0070);
  text-align: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:has(:focus-visible) {
  border-bottom: var(--accent-color, #FF0070);
  padding-bottom: 1px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color, #FF0070);
}

.title {
  color: var(--main-text-color, #DB00FF);
  text-shadow: 4px 4px 0px var(--title-shadow, #FF0070);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-block-start: 300px;
  margin-inline-start: -20px;
}

.page__description {
  background-color: var(--bg-for-text, #FF0070);
  color: var(--bg-text-color, #000028);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  margin-block-start: 114px;
}

.hard-to-focus {
  display: grid;
  margin-block-start: 60px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.why-title {
  display: grid;
}

.why-description {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
}

.focus-decrease {
  margin-block-start: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.decrease-title {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-block-end: 20px;
  max-width: 300px;
}

.focus__advises {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
  margin-block-start: 80px;
}

.advise-title {
  display: grid;
}

.section-title {
  color: var(--accent-color, #FF0070);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.subtitle {
  color: var(--bg-text-color, #000028);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--bg-for-text, #FF0070);
}

.subtitle-advise {
  margin-block-end: 20px;
}

.subtitle-advises {
  color: var(--bg-text-color, #000028);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: var(--bg-for-text,#FF0070);
}

.section-description {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
}

.description-text {
  color: var(--main-font-color, #F1B2CE);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 10px;
  margin-block-end: 20px;
  text-align: start;
}

.images-section {
  margin-block-start: 80px;
}

.images-title {
  background-color: var(--bg-for-text, #FF0070);
  color: #000028;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-block-end: 20px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sunset-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ice-cream-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.books-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.tape-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;
}

.street-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 7;
}

.footer {
  margin-block-start: 80px;
  margin-block-end: 20px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-text {
  color: var(--main-text-color, #DB00FF);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  display: grid;
  align-self: center;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media (max-width: 1024px) {
  .rec {
    margin-inline-start: 90vw;
  }
}

@media (max-width: 768px) {

.header__theme-menu {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  margin-block-start: 156px;
}

.rec {
  margin-inline-start: 86.5vw;
}

.header__theme-menu-list {
  display: block;
}

.header__theme-menu-item {
  margin-block-start: 13px;
}

.title {
  margin-block-start: 173px;
}

.decoration-border-top {
  grid-column-start: 1;
  grid-column-end: 5;
}

.decoration-border-bottom {
  margin-block-start: 138px;
}

.page__description {
  margin-block-start: 162px;
}

.hard-to-focus {
  margin-block-start: 60px;
}

.card {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer-text {
  grid-column-start: 1;
  grid-column-end: 4;
}
}

@media (max-width: 376px) {

  .page {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-right: 10px;
  }

  .header-border-top {
    margin-block-start: 31px;
  }

  .rec {
    margin-inline-start: 81vw;
  }

  .header__theme-menu {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    margin-block-start: 40px;
  }
  
  .title {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-block-start: 66px;
    margin-inline-start: 0;
  }

  .page__description {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-block-start: 55px;
  }

  .hard-to-focus {
    margin-block-start: 135px;
  }

  .why-title {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-block-end: 20px;
    max-width: 350px;
  }

  .why-description {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .subtitle {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .section-description {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .focus-decrease {
    margin-block-start: 50px;
  }

  .focus__advises {
    margin-block-start: 50px;
  }

  .advise-title {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-block-end: 20px;
  }

  .subtitle-advises {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-block-start: 20px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer-text {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .footer-border-bottom {
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: end;
  }

  .footer-border-top {
    grid-row-start: 3;
  }

  .images-section {
    margin-block-start: 50px;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    gap: 10px;
  }

  .sunset-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .ice-cream-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .books-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .tape-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .street-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}